<h1>Formulario de carga y eliminación de productos</h1>
<form id="addProductForm">
    <p>Datos del producto a agregar:</p>
    <div>
        <label for="title">Titulo/nombre del producto:</label>
        <input type="text" id="title" />
    </div>
    <div>
        <label for="description">Descripción:</label>
        <input type="text" id="description" />
    </div>
    <div>
        <label for="price">Precio:</label>
        <input type="number" id="price" />
    </div>
    <div>
        <label for="code">Código de producto:</label>
        <input type="text" id="code" />
    </div>
    <div>
        <label for="stock">Stock:</label>
        <input type="number" id="stock" />
    </div>
    <div>
        <label for="category">Categoría:</label>
        <input type="text" id="category" />
    </div>
    <div>
        <button type="submit" id="addProduct">Agregar</button>
    </div>
</form>
<form id="deleteProductForm">
    <p>Producto a eliminar</p>
    <div>
        <label for="prodId">ID del producto:</label>
        <input type="number" id="prodId" />
    </div>
    <button type="submit" id="deleteProduct">Eliminar</button>
</form>
<h2>Lista de productos en tiempo real:</h2>
<div id="realTimeProducts">
    {{#each products}}
        <div id="productsFromServer"></div>
    {{/each}}
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"
    integrity="sha512-uXal8CICQ52UxoF9A3yBP6GUXGu5N2IoTZf/YXGMW4M0AvNyViA0ZjpGf9uqRpkN4kyx41Y5I0DmTQNOS6G05A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
></script>
<script src="js/main.js"></script>